.header{
    display: flex;
    justify-content: space-between;
    
    padding-right: 5rem;
    
}
.header>li,img{
    width: 10rem;
    height: 5rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 4rem;

    color: black;
    align-items: center;

}
.header-menu>li,a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 300ms all;
    
}
.header-menu>li:hover{
    
    color: rgb(214, 6, 145);
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}
.header-menu>a:hover{
    color: rgb(214, 6, 145);
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}
@media (max-width: 600px) {
    .header {
      flex-direction: column;
    }
    .header-menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
    .header-menu > li, a {
      font-size: 1.2rem;
    }
    .header > img {
      width: 7rem;
      height: 3rem;
    }
    .header-menu > a:hover {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
  